body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* or cover, 필요하면 변경 */
  background: black;
}
